h1 {
  color: #600;
  text-align: center;
  font-style: italic;
}

h2 {
  color: #003;
  text-align: center;
  font-style: bold;
}

h3 {
  color: #003;
  text-align: center;
  font-style: italic;
}

body {
  background: #dddddd;
}

.next_link {
  color: #003;
  text-align: center-right;
  text-decoration:none;
}

.next_link:link {
  color: #003;
  text-decoration:none;
}

.next_link:visited {
  color: #003;
  text-decoration:none;
}




