
<body>
  <h1> Welcome to my Silly Joke Page </h1>
  <br /><br />
  <h2><%= @joke.question %></h2>
  <h3><%= @joke.answer %></h3>
  <br /><br /><br />
  <%= link_to 'Next Joke', root_path, :class => 'next-link' %>

</body>
